/* /* reset */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Classe per ridimensionare l'immagine */
img {
    width: 800px; 
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  